<div class="home">
    <div class="row">
        <div class="col-6" [style.min-height]="cardContentHeight + 'px'">
            <pnx-map height="100%" class="map-card">
              <pnx-leaflet-draw 
                [bEnable]="false"
                [geojson]="geometry" 
                [options]="leafletDrawOptions" >
            </pnx-leaflet-draw>
            </pnx-map>
        </div>
        <div class="col-6">
            <h3>Campagne</h3>
            <div class="row">
                <div class="col-11">
                    <input type="text" hidden rows="4" class="form-control form-control-sm" [formControl]="campaignForm.get('id_area')">
                </div>
                <div class="col-11">
                    <label >Aire d'étude</label>
                    <input type="text" readonly class="form-control form-control-sm" value="{{ studyArea.area_name }}">
                </div>
                <div class="col-11">
                    <label for="input_session">Session</label>
                    <input type="text" readonly id="input_session" rows="4" class="form-control form-control-sm" [formControl]="campaignForm.get('session')">
                </div>
                <div class="col-11">
                    <label for="input_year">Année</label>
                    <input type="text" readonly id="input_year" rows="4" class="form-control form-control-sm" [formControl]="campaignForm.get('year')">
                </div>
                <div class="col-11">
                    <label for="input_campaign_name">Nom de la campagne</label>
                    <input type="text" readonly id="input_campaign_name" rows="4" class="form-control form-control-sm" [formControl]="campaignForm.get('name')">
                </div>
                <div class="col-11">
                    <label for="input_description">Description</label>
                    <textarea id="input_description" rows="4" class="form-control form-control-sm" [formControl]="campaignForm.get('description')"></textarea>
                </div>

                <div class="col-2 offset-1">
                    <button class="btn btn-success" [disabled]="!campaignForm.valid" (click)="onSave()">Enregistrer</button>
                </div>
                <div class="col-2">
                    <button class="btn btn-danger" [routerLink]="['..']">Annuler</button>
                </div>
            </div>
            
        </div>
    </div>
</div>