.home {
    margin: 5px 15px;
}
.header {
    margin-bottom: 15px;
}
.uppercase {
    text-transform: uppercase;
  }
.menu {
    max-width: 300px;
}
.menu-line {
    padding: 10px 0px;
}
.menu-line button {
    width: 100%;
}
button mat-icon {
    vertical-align: middle;
}
.toolbar {
    margin-bottom: 10px;
}
.text-in-area {
    white-space: pre-wrap;
}
.collapse-item-header {
    border: solid 2px #555555;
    border-radius: 3px 3px 0px 0px;
    height: 30px;
    background-color: white;
    padding: 5px 0px;
    height: 45px;
    box-shadow: 1px 2px 2px grey;
    z-index: 1;
}
.collapse-item-header.collapsed {
    border-bottom-width: 2px;
    border-radius: 3px !important;
    box-shadow: unset !important;
}
.collapse-item-body {
    border: solid 1px grey;
    border-top: unset;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}