<div class="home">
<h3>CMR Cistude</h3>
<p>Bienvenue sur le module de saisie "Suivi Cistude" de la Société Herpétologique de France</p>
<div class="row">
    <div class="col-8"></div>
    <div class="col-4">
        <div class="menu">
            <div class="menu-line"><button class="btn btn-primary" disabled (click)="openModalRulesNotCmr()">Saisir des données hors CMR</button></div>
            <div class="menu-line"><button class="btn btn-primary" (click)="openModalRulesCmr()">Saisir des données de CMR</button></div>
            <div class="menu-line"><button class="btn btn-primary" [routerLink]="['request']">Effectuer une requête</button></div>
        </div>
    </div>
</div>

<modal-rules id="modal-data-not-cmr" [visible]="showModalDataNotCmr" (closed)="onModalClosedNotCmr($event)"></modal-rules>
<modal-rules id="modal-data-cmr" [visible]="showModalDataCmr" (closed)="onModalClosedCmr($event)"></modal-rules>
</div>