<div [class]="'modal fade' + (visible ? ' show d-block' : '')" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <p>La Cistude d'Europe est une espèce protégée,<br>sa manipulation requiert une autorisation spécifique (CERFA n°13616*01)</p>
                <div>
                    <label><input id="accept-input" type="checkbox" (change)="acceptChecked = $event.target.checked"/>J'ai connaissance de la réglementation</label>
                </div>
                <div id="testtext"></div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" [disabled]="!acceptChecked" (click)="onAccept()">OK</button>
                <button class="btn btn-danger" (click)="onClose()">Annuler</button>
            </div>
        </div>
    </div>
</div>
